$block: 'dev';

.#{$block} {
  &-list {
    @media only screen and (min-width: $sm) and (max-width: 480px) {
      margin: 0 10px;
    }
  
    @media only screen and (min-width: $md) and (max-width: 1024px) {
      margin: 0 10px;
    } 
  
    @media only screen and (min-width: $lg) {
      margin: 0 150px;
    }
  
    .#{$block}-card {
      .skill-tag {
        margin: 0 2px;
      }
  
      .image {
        background-color: $black-odd;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        height: 300px;
      }
  
      .title {
        font-size: 20px;
        font-weight: 800;
      }
  
      .description {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dev-list {
  
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    margin: 0 10px;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    margin: 0 10px;
  } 

  @media only screen and (min-width: 1025px) {
    margin: 0 150px;
  }

  .dev-card {
    .skill-tag {
      margin: 0 2px;
    }

    .image {
      background-color: #212529;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      height: 300px;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -webkit-transition: all .8s ease-in-out;

      &:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
      }
    }

    .title {
      font-size: 20px;
      font-weight: 800;
    }

    .description {
      font-size: 14px;
      font-weight: 300;
    }

    .icons {
      display: inline;

      .link {
        color: #212529;
        text-decoration: none;

        &:hover {
          color: #747474;
        }
        
        .icon {
          font-size: 20px;
          margin: 0 2px;
        }
      }
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes colorize {
  0%    { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
  25%   { -webkit-filter: grayscale(75%); filter: grayscale(75%); }
  50%   { -webkit-filter: grayscale(50%); filter: grayscale(50%); }
  75%   { -webkit-filter: grayscale(25%); filter: grayscale(25%); }
  100%  { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
}

