$block: 'dev';

.#{$block} {
  &-list {
    @media only screen and (min-width: $sm) and (max-width: 480px) {
      margin: 0 10px;
    }
  
    @media only screen and (min-width: $md) and (max-width: 1024px) {
      margin: 0 10px;
    } 
  
    @media only screen and (min-width: $lg) {
      margin: 0 55px;
    }
  
    .#{$block}-card {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      transform: scale(1.0);
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -webkit-transition: all .8s ease-in-out;
  
  
      &:hover {
        z-index: 5;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transform: scale(1.04);
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
      }.image {
        background-color: #212529;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        height: 300px;
      }
  
      .title {
        font-size: 20px;
        font-weight: 800;
      }
  
      .subtitle {
        background-color: #000;
        border: solid 2px #fff;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        position: absolute;
        top: -1em;
        display: flex;
        align-items: center;
        justify-content: center;
  
        @media only screen and (min-width: $sm) and (max-width: 480px) {
          left: -1em;
        }
      
        @media only screen and (min-width: $md) and (max-width: 1024px) {
          left: 10em;
        } 
      
        @media only screen and (min-width: $lg) {
          left: 15em;
        }
  
        span {
          color: #fff;
          font-size: 14px;
          font-weight: 800;
        }
      }
  
      .description {
        font-size: 14px;
        font-weight: 300;
      }
  
      .icons {
        display: inline;
  
        .link {
          color: #212529;
          text-decoration: none;
  
          &:hover {
            color: #747474;
          }
          
          .icon {
            font-size: 20px;
            margin: 0 2px;
          }
        }
      }
    }
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
